Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - - apt-get update
    - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Tidying up
  .env.example
  .gitlab-ci.yml
  .safety-policy.yml
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/cli/__init__.py
  src/assets_tracking_service/cli/data.py
  src/assets_tracking_service/config.py
  src/assets_tracking_service/db.py
  src/assets_tracking_service/exporters/arcgis.py
  src/assets_tracking_service/exporters/exporters_manager.py
  src/assets_tracking_service/log.py
  src/assets_tracking_service/providers/geotab.py
  src/assets_tracking_service/providers/providers_manager.py
  tests/assets_tracking_service_tests/cli/test_config.py
  tests/assets_tracking_service_tests/exporters/test_exporters_manager.py
  tests/assets_tracking_service_tests/providers/test_providers_manager.py
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
Due: pytest, ruff, safety, build

Setting sentry monitor config in code
  CHANGELOG.md
  src/assets_tracking_service/cli/data.py
  src/assets_tracking_service/config.py
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Disable staging deployments
  .gitlab-ci.yml
Due: none

Add missing create-migration script
  scripts/create-migration.py
Due: pytest, ruff, build

Rename release script
  .gitlab-ci.yml
  scripts/create-release.py
Due: pytest, ruff, build

Adding script to clean up prerelease venvs
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  scripts/clean-venvs.py
Due: pytest, ruff, build

Tidying up
  .gitlab/issue_templates/release.md
  CHANGELOG.md
Due: none

Adding DB sync
  .gitignore
  CHANGELOG.md
  tpl/.pgsync.yml.tpl
Due: none

Grouping dot file templates
  .env.example
  tpl/.env.tpl
Due: none

Add migrations tracking
  CHANGELOG.md
  scripts/create-migration.py
  src/assets_tracking_service/resources/db_migrations/down/986-migrations-tracking.sql
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
  tpl/.pgsync.yml.tpl
Due: pytest, ruff, build

Allow logging level to be set via config
  CHANGELOG.md
  src/assets_tracking_service/config.py
  src/assets_tracking_service/log.py
  tests/assets_tracking_service_tests/test_config.py
  tpl/.env.tpl
Due: pytest, ruff, build

Fix logging
  pyproject.toml
Due: pytest, build

Fixing env var
  pyproject.toml
Due: pytest, build

Updating documentation
  README.md
  docs/cli-reference.md
  docs/config.md
  docs/deploy.md
  docs/dev.md
  docs/exporters.md
  docs/implementation.md
  docs/infrastructure.md
  docs/install-upgrade.md
  docs/setup.md
  docs/tracked-assets.md
Due: none

Debugging and triggering build job
  .gitlab-ci.yml
Due: none

Fix CI
  .gitlab-ci.yml
Due: none

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

0.4.1 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Fixing CI
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Tidying up
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

0.4.2 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Resolve "Database methods hang in production"
  .gitlab-ci.yml
  CHANGELOG.md
  src/assets_tracking_service/cli/data.py
  src/assets_tracking_service/cli/db.py
  src/assets_tracking_service/db.py
  src/assets_tracking_service/models/asset.py
  src/assets_tracking_service/models/position.py
  tests/assets_tracking_service_tests/test_db.py
  tests/conftest.py
  tests/db_tests/test_func.py
Due: pytest, ruff, build

0.4.3 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Adding initial data catalogue exporter
  docs/config.md
  docs/dev.md
  docs/exporters.md
  pyproject.toml
  src/assets_tracking_service/config.py
  src/assets_tracking_service/exporters/catalogue.py
  src/assets_tracking_service/exporters/exporters_manager.py
  tests/assets_tracking_service_tests/exporters/test_catalogue.py
  tests/assets_tracking_service_tests/exporters/test_exporters_manager.py
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
  tpl/.env.tpl
Due: pytest, ruff, build

Documenting current views
  docs/data-model.md
Due: none

Adding steps to check DB sessions
  docs/dev.md
  docs/implementation.md
Due: none

Tidying up
  docs/implementation.md
  src/assets_tracking_service/config.py
  src/assets_tracking_service/exporters/geojson.py
Due: pytest, ruff, build

Updating views
  CHANGELOG.md
  docs/data-model.md
  src/assets_tracking_service/exporters/geojson.py
  src/assets_tracking_service/resources/db_migrations/down/985-rationalise-views.sql
  src/assets_tracking_service/resources/db_migrations/up/015-rationalise-views.sql
Due: pytest, ruff, build

Fixing migrations tracking
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
Due: pytest

Adding script to recreate local DBs
  docs/dev.md
  scripts/recreate-local-db.py
Due: pytest, ruff, build

Disable automatic staging deployments
  .gitlab-ci.yml
Due: none

Language tweaks
  docs/deploy.md
  docs/dev.md
  src/assets_tracking_service/exporters/arcgis.py
  src/assets_tracking_service/exporters/geojson.py
Due: pytest, ruff, build

Fix UV in CI
  .gitlab-ci.yml
Due: none

Support for checking if at head migration
  CHANGELOG.md
  src/assets_tracking_service/cli/db.py
  src/assets_tracking_service/db.py
  tests/assets_tracking_service_tests/cli/test_db.py
  tests/assets_tracking_service_tests/test_db.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: **/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
