Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - - apt-get update
    - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Fixing CD
  .gitlab-ci.yml
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Adding exception handling for feature service error
  CHANGELOG.md
  src/assets_tracking_service/exporters/arcgis.py
  tests/assets_tracking_service_tests/exporters/test_arcgis.py
Due: pytest, ruff, build

Prep for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Add HTTP error handling for Geotab provider
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/providers/geotab.py
  tests/assets_tracking_service_tests/providers/test_geotab.py
  tests/conftest.py
Due: pytest, ruff, build

Adding documentation on staging DB
  CHANGELOG.md
  docs/infrastructure.md
Due: none

Redacting Geotab credentials
  CHANGELOG.md
  tests/assets_tracking_service_tests/providers/cassettes/test_geotab/TestGeotabProvider.test_fetch_latest_positions.yaml
Due: none

Preparing for release
  CHANGELOG.md
  pyproject.toml
Due: pytest, build

Adding pre-commit hook
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
Due: pytest, build

Adding DB read-only user
  CHANGELOG.md
  docs/infrastructure.md
  docs/install-upgrade.md
Due: none

Tidying up
  .gitlab-ci.yml
  .gitlab/issue_templates/deploy.md
  .gitlab/issue_templates/release.md
  .safety-policy.yml
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/resources/db_migrations/down/987-ats-ro-role.sql
  src/assets_tracking_service/resources/db_migrations/down/999-extensions.sql
  src/assets_tracking_service/resources/db_migrations/up/002-ulid.sql
  src/assets_tracking_service/resources/db_migrations/up/013-ats-ro-role.sql
  tests/assets_tracking_service_tests/test_db.py
  tests/conftest.py
Due: pytest, ruff, safety, build

Updating documentation
  LICENSE.md
  README.md
  docs/deploy.md
  docs/dev.md
  docs/infrastructure.md
  docs/install-upgrade.md
Due: none

Excluding nocoverage statements
  pyproject.toml
Due: pytest, build

Switching to UV
  .gitignore
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  .python-version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating CI
  .gitlab-ci.yml
Due: none

Tidying up
  .gitignore
  pyproject.toml
Due: pytest, build

Disabling dask warning
  pyproject.toml
  src/assets_tracking_service/__init__.py
Due: pytest, ruff, build

Working around strange test error
  tests/assets_tracking_service_tests/cli/test_config.py
Due: pytest, ruff, build

Changing name of testing/dev databases
  .gitlab-ci.yml
  pyproject.toml
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Tidying up
  .editorconfig
  pyproject.toml
Due: pytest, build

Resolve CI issues related to UV switch
  .gitlab-ci.yml
  pyproject.toml
  src/assets_tracking_service/__init__.py
  src/assets_tracking_service/cli/config.py
  src/assets_tracking_service/cli/data.py
  src/assets_tracking_service/cli/db.py
  src/assets_tracking_service/log.py
Due: pytest, ruff, build

Adopting IT ansible for deployments
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Resolve "Add SQL Fluff"
  .editorconfig
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/resources/db_migrations/down/988-ensure-geojson-keys-order.sql
  src/assets_tracking_service/resources/db_migrations/down/989-latest-export-derived-units.sql
  src/assets_tracking_service/resources/db_migrations/up/002-ulid.sql
  src/assets_tracking_service/resources/db_migrations/up/003-ddm.sql
  src/assets_tracking_service/resources/db_migrations/up/004-labels.sql
  src/assets_tracking_service/resources/db_migrations/up/005-asset.sql
  src/assets_tracking_service/resources/db_migrations/up/006-position.sql
  src/assets_tracking_service/resources/db_migrations/up/007-nvs-l06.sql
  src/assets_tracking_service/resources/db_migrations/up/008-summary-views.sql
  src/assets_tracking_service/resources/db_migrations/up/010-apply-updated-at.sql
  src/assets_tracking_service/resources/db_migrations/up/011-latest-export-derived-units.sql
  src/assets_tracking_service/resources/db_migrations/up/012-ensure-geojson-keys-order.sql
  uv.lock
Due: pytest, build

Resolve "Fix migration creating role"
  CHANGELOG.md
  src/assets_tracking_service/resources/db_migrations/up/013-ats-ro-role.sql
  tests/conftest.py
Due: pytest, ruff, build

Adding UV pre-commit hook
  .pre-commit-config.yaml
Due: none

Adding release script
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  scripts/release.py
Due: pytest, ruff, build

Adding pre-release builds
  .gitlab-ci.yml
Due: none

Fixing CI/CD
  .gitlab-ci.yml
Due: none

Fixing CI/CD
  .gitlab-ci.yml
  pyproject.toml
Due: pytest, build

Updating DB setup in CI
  .gitlab-ci.yml
  scripts/release.py
Due: pytest, ruff, build

Adding staging deploys
  .gitlab-ci.yml
  scripts/read-pyproject-version.py
Due: pytest, ruff, build

Fixing CI
  .gitlab-ci.yml
Due: none

Trigger for staging release
  CHANGELOG.md
Due: none

Running DB migrations in Ansible
  CHANGELOG.md
Due: none

Updating access permissions guidance
  CHANGELOG.md
  README.md
Due: none

Adding new DB migration script
  CHANGELOG.md
  docs/dev.md
  scripts/create-migration.py
Due: pytest, ruff, build

Adding run command
  CHANGELOG.md
  src/assets_tracking_service/cli/data.py
  src/assets_tracking_service/config.py
  tests/assets_tracking_service_tests/cli/test_data.py
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Fixing requests TLS error by upgrading ArcGIS SDK
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/exporters/arcgis.py
  uv.lock
Due: pytest, ruff, build

Refactoring Sentry config
  src/assets_tracking_service/config.py
  src/assets_tracking_service/log.py
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: **/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
