Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - - apt-get update
    - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Updating UV version
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Updating ArcGIS utils client
  pyproject.toml
  src/assets_tracking_service/config.py
  src/assets_tracking_service/lib/bas_esri_utils/arcgis.py
  src/assets_tracking_service/lib/bas_esri_utils/client.py
  src/assets_tracking_service/resources/arcgis_group/description.md
  src/assets_tracking_service/resources/arcgis_group/thumbnail.png
  src/assets_tracking_service/resources/arcgis_layers/ats_latest_assets_position/portrayal.json
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
  tests/lib_tests/bas_esri_utils/test_client.py
Due: pytest, ruff, build

Updating ArcGIS Exporter
  src/assets_tracking_service/exporters/arcgis.py
  tests/assets_tracking_service_tests/exporters/test_arcgis.py
Due: pytest, ruff, build

Fix liniting errors
  src/assets_tracking_service/lib/bas_data_catalogue/models/item.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/elements/common.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/presets/base.py
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/models/record.py
Due: pytest, ruff, build

Trying to fix conf import
  tests/lib_tests/bas_esri_utils/test_client.py
Due: pytest, ruff, build

Fixing layer source view naming
  src/assets_tracking_service/exporters/arcgis.py
  src/assets_tracking_service/models/layer.py
  src/assets_tracking_service/resources/db_migrations/up/018-latest-asset-position.sql
  src/assets_tracking_service/resources/db_migrations/up/019-collection-record.sql
  tests/conftest.py
Due: pytest, ruff, build

Adding validation for ArcGIS items snippet length
  src/assets_tracking_service/lib/bas_esri_utils/models/item.py
  tests/lib_tests/bas_esri_utils/models/test_item_arcgis.py
Due: pytest, ruff, build

Fix coverage
  src/assets_tracking_service/exporters/arcgis.py
  src/assets_tracking_service/lib/bas_esri_utils/models/item.py
  tests/assets_tracking_service_tests/exporters/test_arcgis.py
  tests/conftest.py
  tests/lib_tests/bas_esri_utils/test_client.py
Due: pytest, ruff, build

Fix prerelease job
  .gitlab-ci.yml
  CHANGELOG.md
Due: none

Fix prerelease job
  .gitlab-ci.yml
Due: none

Update docs
  CHANGELOG.md
  docs/cli-reference.md
  docs/config.md
  docs/data-model.md
  docs/dev.md
  docs/exporters.md
  docs/implementation.md
  docs/info-model.md
  docs/libraries.md
Due: none

Upgrading dependencies
  CHANGELOG.md
  docs/dev.md
  uv.lock
Due: none

Fixing Arc group search
  CHANGELOG.md
  src/assets_tracking_service/lib/bas_esri_utils/client.py
Due: pytest, ruff, build

Fixing change log
  CHANGELOG.md
Due: none

Tidying up abstracts descriptions etc.
  README.md
  docs/data-model.md
  src/assets_tracking_service/lib/bas_esri_utils/resources/templates/description.j2
  src/assets_tracking_service/resources/arcgis_group/description.md
  src/assets_tracking_service/resources/db_migrations/up/018-latest-asset-position.sql
  src/assets_tracking_service/resources/records/ats_collection/abstract.md
  src/assets_tracking_service/resources/records/ats_latest_assets_position/abstract.md
  src/assets_tracking_service/resources/records/ats_latest_assets_position/lineage.md
  tests/assets_tracking_service_tests/exporters/test_arcgis.py
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/resources/db_migrations/up/020-drop-record-extent.sql
Due: pytest

Fixing mislabled field
  src/assets_tracking_service/resources/arcgis_layers/ats_latest_assets_position/portrayal.json
  src/assets_tracking_service/resources/db_migrations/down/979-fix-dms-ddm-typo.sql
  src/assets_tracking_service/resources/db_migrations/up/021-fix-dms-ddm-typo.sql
Due: pytest

Fixes
  src/assets_tracking_service/lib/bas_esri_utils/resources/templates/description.j2
  src/assets_tracking_service/resources/db_migrations/up/015-rationalise-views.sql
  src/assets_tracking_service/resources/db_migrations/up/021-fix-dms-ddm-typo.sql
Due: pytest

Fix
  tests/assets_tracking_service_tests/exporters/test_geojson.py
Due: pytest, ruff, build

Removing JSON Schema as a test dependency
  pyproject.toml
  uv.lock
Due: pytest, build

Adding JSON Schema as a main depedency
  pyproject.toml
  uv.lock
Due: pytest, build

Resolve "Update staging environment"
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
Due: pytest

0.5.0 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Fixing migration
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
Due: pytest

Fix
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
Due: pytest

Change date shown in catalogue item summary
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Remove GeoJSON exporter
  CHANGELOG.md
  src/assets_tracking_service/config.py
  src/assets_tracking_service/exporters/exporters_manager.py
  src/assets_tracking_service/exporters/geojson.py
  tests/assets_tracking_service_tests/exporters/test_exporters_manager.py
  tests/assets_tracking_service_tests/exporters/test_geojson.py
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
Due: pytest, ruff, build

Adding RVDAS provider
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/config.py
  src/assets_tracking_service/providers/aircraft_tracking.py
  src/assets_tracking_service/providers/geotab.py
  src/assets_tracking_service/providers/providers_manager.py
  src/assets_tracking_service/providers/rvdas.py
  tests/assets_tracking_service_tests/providers/cassettes/test_rvdas/TestRvdasProvider.test_fetch_data.yaml
  tests/assets_tracking_service_tests/providers/cassettes/test_rvdas/TestRvdasProvider.test_fetch_data_error.yaml
  tests/assets_tracking_service_tests/providers/cassettes/test_rvdas/TestRvdasProvider.test_fetch_data_invalid.yaml
  tests/assets_tracking_service_tests/providers/test_providers_manager.py
  tests/assets_tracking_service_tests/providers/test_rvdas.py
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
  tpl/.env.tpl
Due: pytest, ruff, build

Using position hash as aircraft provider position ID
  CHANGELOG.md
  src/assets_tracking_service/providers/aircraft_tracking.py
  tests/assets_tracking_service_tests/providers/test_aircraft_tracking.py
Due: pytest, ruff, build

Adding additional NVS terms for Geotab provider
  CHANGELOG.md
  src/assets_tracking_service/config.py
  src/assets_tracking_service/providers/geotab.py
  src/assets_tracking_service/resources/db_migrations/down/978-nvs-l06-update-1.sql
  src/assets_tracking_service/resources/db_migrations/up/022-nvs-l06-update-1.sql
  tests/assets_tracking_service_tests/providers/test_geotab.py
Due: pytest, ruff, build

Fixing aircraft tracking provider version
  src/assets_tracking_service/providers/aircraft_tracking.py
  tests/assets_tracking_service_tests/providers/test_aircraft_tracking.py
Due: pytest, ruff, build

Updating v_latest_assets_pos view to handle expired labels
  src/assets_tracking_service/resources/db_migrations/down/977-most-recent-l06.sql
  src/assets_tracking_service/resources/db_migrations/up/023-most-recent-l06.sql
Due: pytest

Adding util views for inspecting asset/position labels
  src/assets_tracking_service/resources/db_migrations/down/976-util-asset-position-labels.sql
  src/assets_tracking_service/resources/db_migrations/up/024-util-asset-position-labels.sql
Due: pytest

Improving layer styles
  src/assets_tracking_service/resources/arcgis_layers/ats_latest_assets_position/portrayal.json
Due: none

Removing exp
  exp/cat.py
  exp/md.py
  exp/resources/templates/item.md.j2
Due: pytest, ruff, build

Path conditions:
  pytest: any of: **/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
