Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - - - apt-get update
      - python --version
      - python -m pip install --upgrade pip
      - python -m pip install pipx
      - python -m pipx install poetry==1.8.2
      - python -m pipx ensurepath
      - export PATH=/root/.local/bin:$PATH
      - poetry --version
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - - apt-get update
    - python --version
    - python -m pip install --upgrade pip
    - python -m pip install pipx
    - python -m pipx install poetry==1.8.2
    - python -m pipx ensurepath
    - export PATH=/root/.local/bin:$PATH
    - poetry --version
  ...

Updating docs
  CHANGELOG.md
  README.md
  docs/config.md
  docs/data-model.md
  docs/dev.md
  docs/exporters.md
  docs/libraries.md
  docs/providers.md
Due: none

0.6.0 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, build

Post release tidying
  .gitignore
  .gitlab/issue_templates/release.md
  CHANGELOG.md
  provisioning/terraform/.terraform.lock.hcl
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/contact.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  src/assets_tracking_service/resources/db_migrations/up/014-migrations-tracking.sql
Due: pytest

Hide summary grid if all items it contains are None or empty
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Fixing data download styles
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
Due: none

Improving test records for catalogue items
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
Due: pytest, ruff, build

Hiding data item content if not relevant
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
Due: none

Improving site footer
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
Due: none

Adding item catalogue distribution types
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/distributions.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/enums.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_distributions.py
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
  tests/resources/lib/data_catalogue/records/item_cat_data.py
Due: pytest, ruff, build

Improving catalogue record conversion logic
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/models/record/test_record.py
Due: pytest, ruff, build

Fixing bbox handling in item catalogue
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/base/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/extent.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Adding orcid colour to item catalogue template
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/tabs.html.j2
Due: none

Adding heartbeat static text file to site resources exporter
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/txt/heartbeat.txt
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/distributions.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/models/record/test_record.py
Due: pytest, ruff, build

Updating supported elements
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
Due: pytest, ruff, build

First pass mobile styles
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/licence.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/tabs.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/item.html.j2
Due: none

Adding time element support to catalogue item template
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/extent.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/info.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
Due: pytest, ruff, build

Improving item summary composition in catalogue item template
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Adding link preview markup in catalogue item template
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_item_catalogue.py
  tests/lib_tests/bas_data_catalogue_tests/models/record/test_record.py
Due: pytest, ruff, build

Refactoring test item records
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
  tests/resources/lib/data_catalogue/records/item_cat_formatting.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
  tests/resources/lib/data_catalogue/records/utils.py
Due: pytest, ruff, build

Adding test record for catalogue item distributions
  tests/resources/lib/data_catalogue/records/item_cat_data.py
Due: pytest, ruff, build

Adding additional licence types for catalogue items
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/licence.html.j2
  tests/resources/lib/data_catalogue/records/item_cat_licence.py
Due: pytest, ruff, build

Adding prototype for published map catalogue item
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/distributions.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/enums.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  tests/resources/lib/data_catalogue/records/item_cat_pub_map.py
Due: pytest, ruff, build

Fixing descriptive series login in catalogue item templates
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
Due: pytest, ruff, build

Tidying up catalogue item templates
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/record/presets/test_base.py
Due: pytest, ruff, build

Adding favicon to catalogue item template
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/base_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-180.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-192.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-512.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-mask.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon.ico
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon.svg
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/txt/manifest.webmanifest
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Adding initial catalogue item template tests
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/templates/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_item.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_site.py
  tests/lib_tests/bas_data_catalogue_tests/templates/test_catalogue_item.py
Due: pytest, ruff, build

Adding tests for item catalogue tabs
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/contact.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/extent.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/info.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/tabs.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_common.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_item_catalogue.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_item.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_site.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_tabs.py
  tests/lib_tests/bas_data_catalogue_tests/templates/test_catalogue_item.py
Due: pytest, ruff, build

Adding initial e2e tests for catalogue items site
  pyproject.toml
  src/assets_tracking_service/exporters/catalogue.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/base_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/html_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/iso_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/json_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/records_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/e2e/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/e2e/test_item_e2e.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_base_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_html_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_iso_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_json_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_records_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
  tests/resources/lib/data_catalogue/records/item_cat_product_min.py
  tests/resources/lib/data_catalogue/site_exporter.py
  uv.lock
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/config.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/base_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/resources_exporter.py
  tests/assets_tracking_service_tests/test_config.py
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_base_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/resources/lib/data_catalogue/site_exporter.py
Due: pytest, ruff, build

Refactoring lib catalogue exporters
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/records_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_records_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/resources/lib/data_catalogue/site_exporter.py
Due: pytest, ruff, build

Refactoring catalogue static site templates
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/templates.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_layouts/base.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_item_catalogue.py
  tests/lib_tests/bas_data_catalogue_tests/models/test_templates.py
  tests/lib_tests/bas_data_catalogue_tests/templates/layouts/__init__.py
  tests/lib_tests/bas_data_catalogue_tests/templates/layouts/test_base.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_site.py
  tests/lib_tests/bas_data_catalogue_tests/templates/test_catalogue_item.py
Due: pytest, ruff, build

Reactoring catalogue template page header into a common macro
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_common.py
Due: pytest, ruff, build

Refactoring catalogue site exporter
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/resources/lib/data_catalogue/site_exporter.py
Due: pytest, ruff, build

Adding 404 page to catalogue site exporter
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/404.html.j2
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Tidying up
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Updating favicon style for catalogue static site
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/apple-touch-icon.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-180.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-192.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-512.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon-mask.png
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon.ico
  src/assets_tracking_service/lib/bas_data_catalogue/resources/img/favicon.svg
Due: none

Adding updated legal pages for catalogue static site
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/contact.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/legal/cookies.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/legal/copyright.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/legal/privacy.html.j2
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Tidying up catalogue static site
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/records_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/distributions.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/404.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/site.html.j2
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_records_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_site.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: **/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, pyproject.toml, poetry.lock
  ruff: any of: **/*.py
  safety: any of: .safety-policy.yml, poetry.lock
  build: any of: **/*.py, pyproject.toml, poetry.lock
