Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, sqlfluff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - apt-get update
      - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

sqlfluff:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

Fixing linting
  .pre-commit-config.yaml
  scripts/create-release.py
Due: ruff, build

Reverting CI to use UV image
  .gitlab-ci.yml
Due: none

Switch build system
  pyproject.toml
Due: pytest, build

Switching to task runner
  .gitlab-ci.yml
  .gitlab/issue_templates/release.md
  pyproject.toml
  tasks/migration.py
  tasks/release.py
  tasks/reset-db.py
  tasks/version.py
Due: pytest, ruff, build

Removing outdated config/code
  .gitignore
  .gitlab-ci.yml
  pyproject.toml
  scripts/recreate-css.py
Due: pytest, ruff, build

Catching up dependencies
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Minor tidying
  .gitlab-ci.yml
  pyproject.toml
Due: pytest, build

Refactoring dot file templates and util script
  pyproject.toml
  resources/env/.env.tpl
  resources/pgsync/.pgsync.yml.tpl
  resources/scripts/clean-venvs.py
Due: pytest, ruff, build

Updating 1Password CLI in CI
  .gitlab-ci.yml
Due: none

Fixing CI
  .gitlab-ci.yml
Due: none

Updating docs
  CHANGELOG.md
  docs/exporters.md
Due: none

Preparing for release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Updating documentation and adding linting
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/cli-reference.md
  docs/config.md
  docs/data-model.md
  docs/deploy.md
  docs/dev.md
  docs/dpia.md
  docs/exporters.md
  docs/implementation.md
  docs/info-model.md
  docs/infrastructure.md
  docs/libraries.md
  docs/providers.md
  docs/setup.md
  docs/tracked-assets.md
  pyproject.toml
Due: pytest, build

Adding collection to MAGIC team collection
  CHANGELOG.md
  src/assets_tracking_service/exporters/catalogue.py
Due: ruff, build

Adding admin metadata for record exports
  CHANGELOG.md
  docs/config.md
  docs/exporters.md
  pyproject.toml
  resources/env/.env.tpl
  src/assets_tracking_service/config.py
  src/assets_tracking_service/exporters/catalogue.py
  tests/assets_tracking_service_tests/test_config.py
  uv.lock
Due: pytest, ruff, safety, build

Fixing sharing levels
  src/assets_tracking_service/lib/bas_esri_utils/models/item.py
  tests/assets_tracking_service_tests/exporters/test_catalogue.py
  tests/lib_tests/bas_esri_utils/models/test_item_arcgis.py
Due: pytest, ruff, build

Coverage fixes
  src/assets_tracking_service/config.py
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Preparing for release
  CHANGELOG.md
  docs/exporters.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Patching incorrect ID when updating ArcGIS metadata
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/exporters/arcgis.py
  uv.lock
Due: pytest, ruff, safety, build

Fixed missing admin signing keys for AGOL sharing level
  CHANGELOG.md
  pyproject.toml
  src/assets_tracking_service/exporters/arcgis.py
  uv.lock
Due: pytest, ruff, safety, build

Removing Terraform provisioning
  CHANGELOG.md
  provisioning/terraform/.terraform.lock.hcl
  provisioning/terraform/docker-compose.yml
  provisioning/terraform/main.tf
Due: none

Upgrading dependencies
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Resolve "Update development tasks and infrastructure"
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/dev.md
  pyproject.toml
  tasks/release.py
  tasks/version.py
  uv.lock
Due: pytest, ruff, safety, build

Resolve "Upgrade dependencies"
  CHANGELOG.md
  LICENSE.md
  README.md
  uv.lock
Due: pytest, safety, build

Path conditions:
  pytest: any of: src/assets_tracking_service/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  sqlfluff: any of: src/assets_tracking_service/resources/db_migrations/**/*.sql
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
