Repository antarctica/assets-tracking-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pytest, ruff, sqlfluff, safety, build

pytest:
  stage: 🧪 test
  needs: []
  services:
  - name: postgis/postgis:16-3.4-alpine
    alias: postgres
  before_script:
  - - - apt-get update
      - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
      - tar -xzf uv.tar.gz
  ...

ruff:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

sqlfluff:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

safety:
  stage: 📋 lint
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

build:
  stage: 🏗 build
  needs: []
  before_script:
  - - apt-get update
    - curl -LsSfo uv.tar.gz https://github.com/astral-sh/uv/releases/download/$UV_VERSION/uv-x86_64-unknown-linux-gnu.tar.gz
    - tar -xzf uv.tar.gz
    - mv uv-x86_64-unknown-linux-gnu/uv uv-x86_64-unknown-linux-gnu/uvx /usr/local/bin
  ...

Catalogue exporter series improvement
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/base/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/elements/common.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/schemas/iso_2_v4.json
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/info.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
  tests/lib_tests/bas_data_catalogue_tests/models/record/elements/test_common.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_tabs.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
Due: pytest, ruff, build

Fixing catalogue exporter physical extents
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/tabs.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
Due: pytest, ruff, build

Tidying up catalogue exporter
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/enums.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/enums.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_tabs.py
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
Due: pytest, ruff, build

Update item summaries in catalogue exporter
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
Due: pytest, ruff, build

Additional published maps changes for catalogue exporter
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/elements.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/special/physical_map.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/extent.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/tabs.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_elements.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_item.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_tabs.py
Due: pytest, ruff, build

Tidying up
  pyproject.toml
  src/assets_tracking_service/exporters/catalogue.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/base_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/base/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/presets/base.py
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/summary.py
  src/assets_tracking_service/lib/bas_esri_utils/models/item.py
  tests/conftest.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_base_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/base/test_item_base.py
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_item_catalogue_physical_map.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_item.py
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_tabs.py
  tests/resources/lib/data_catalogue/exporters/__init__.py
  tests/resources/lib/data_catalogue/exporters/fake_exporter.py
Due: pytest, ruff, build

refactoring catalogue exporter test records
  pyproject.toml
  src/assets_tracking_service/lib/bas_data_catalogue/stores/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/stores/base_store.py
  tests/conftest.py
  tests/resources/lib/data_catalogue/stores/__init__.py
  tests/resources/lib/data_catalogue/stores/fake_records_store.py
Due: pytest, ruff, build

Fix for exporting ISO records via catalogue exporter
  .gitlab-ci.yml
Due: none

Improving catalogue exporter e2e tests
  tests/lib_tests/bas_data_catalogue_tests/e2e/test_item_e2e.py
  tests/lib_tests/bas_data_catalogue_tests/e2e/test_site_e2e.py
Due: pytest, ruff, build

Improving catalogue exporter
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
  tests/resources/lib/data_catalogue/records/item_cat_pub_map.py
Due: pytest, ruff, build

Catalogue exporter template changes
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/common.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  tests/lib_tests/bas_data_catalogue_tests/templates/macros/test_item.py
  tests/resources/lib/data_catalogue/records/item_cat_pub_map.py
Due: pytest, ruff, build

Tidying up
  tests/conftest.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
  tests/resources/lib/data_catalogue/records/item_cat_pub_map.py
Due: pytest, ruff, build

Only showing ‘safe’ config options if ‘unsafe’ option is set
  CHANGELOG.md
  src/assets_tracking_service/config.py
  tests/assets_tracking_service_tests/test_config.py
Due: pytest, ruff, build

Fixing previous migration
  src/assets_tracking_service/resources/db_migrations/up/024-util-asset-position-labels.sql
Due: pytest, sqlfluff

Adding fake object ID to latest positions view
  CHANGELOG.md
  src/assets_tracking_service/resources/db_migrations/down/975-fake-objectid.sql
  src/assets_tracking_service/resources/db_migrations/up/025-fake-objectid.sql
Due: pytest, sqlfluff

Add workaround for field aliases
  src/assets_tracking_service/resources/db_migrations/down/974-latest-position-viz.sql
  src/assets_tracking_service/resources/db_migrations/up/023-most-recent-l06.sql
  src/assets_tracking_service/resources/db_migrations/up/025-fake-objectid.sql
  src/assets_tracking_service/resources/db_migrations/up/026-latest-position-viz.sql
Due: pytest, sqlfluff

Fixing ISO HTML exports in catalogue exporter
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/iso_exporter.py
  src/assets_tracking_service/lib/bas_data_catalogue/exporters/site_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_iso_exporter.py
  tests/lib_tests/bas_data_catalogue_tests/exporters/test_site_exporter.py
Due: pytest, ruff, build

Fix views for ArcGIS Server support
  src/assets_tracking_service/resources/db_migrations/up/026-latest-position-viz.sql
Due: pytest, sqlfluff

Minor catalogue exporter template changes
  src/assets_tracking_service/lib/bas_data_catalogue/models/item/catalogue/distributions.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/css/main.css
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/_tabs/data.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/item.html.j2
  src/assets_tracking_service/lib/bas_data_catalogue/resources/templates/_macros/tabs.html.j2
  tests/lib_tests/bas_data_catalogue_tests/models/item/catalogue/test_distributions.py
  tests/resources/lib/data_catalogue/records/item_cat_product_restricted.py
Due: pytest, ruff, build

Fixing catalogue record schema validation
  .gitlab-ci.yml
  pyproject.toml
  src/assets_tracking_service/lib/bas_data_catalogue/models/record/__init__.py
  src/assets_tracking_service/lib/bas_data_catalogue/resources/schemas/iso_2_v4.json
  src/assets_tracking_service/lib/bas_data_catalogue/resources/schemas/magic_v1.json
  tests/lib_tests/bas_data_catalogue_tests/models/record/test_record.py
  uv.lock
Due: pytest, ruff, safety, build

Tidying up
  src/assets_tracking_service/exporters/arcgis.py
  src/assets_tracking_service/resources/db_migrations/up/025-fake-objectid.sql
Due: pytest, ruff, sqlfluff, build

Update documentation
  CHANGELOG.md
  docs/config.md
  docs/data-model.md
  docs/dev.md
  docs/exporters.md
  docs/libraries.md
Due: none

0.7.0 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Fixing RVDAS None float conversion
  CHANGELOG.md
  src/assets_tracking_service/providers/rvdas.py
  tests/assets_tracking_service_tests/providers/test_rvdas.py
Due: pytest, ruff, build

Fixing HTTP connection handling errors for RVDAS
  CHANGELOG.md
  src/assets_tracking_service/providers/rvdas.py
  tests/assets_tracking_service_tests/providers/test_rvdas.py
Due: pytest, ruff, build

Fixing additional bugs with RVDAS optional properties
  src/assets_tracking_service/providers/rvdas.py
  tests/assets_tracking_service_tests/providers/test_rvdas.py
Due: pytest, ruff, build

0.7.1 release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Adding missing DB grant
  src/assets_tracking_service/resources/db_migrations/up/026-latest-position-viz.sql
Due: pytest, sqlfluff

Minor docs improvements
  README.md
  docs/dev.md
Due: none

Updating dependencies
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest, safety, build

Tweaking collection metadata
  CHANGELOG.md
  src/assets_tracking_service/exporters/catalogue.py
  src/assets_tracking_service/resources/db_migrations/down/973-rename-layer-summary.sql
  src/assets_tracking_service/resources/db_migrations/up/027-rename-layer-summary.sql
  src/assets_tracking_service/resources/records/ats_collection/abstract.md
Due: pytest, ruff, sqlfluff, build

Catching up change log
  CHANGELOG.md
Due: none

Removing outdated code
  tests/resources/lib/__init__.py
  tests/resources/lib/data_catalogue/__init__.py
  tests/resources/lib/data_catalogue/exporters/__init__.py
  tests/resources/lib/data_catalogue/exporters/fake_exporter.py
  tests/resources/lib/data_catalogue/records/__init__.py
  tests/resources/lib/data_catalogue/records/item_cat_collection_all.py
  tests/resources/lib/data_catalogue/records/item_cat_collection_min.py
  tests/resources/lib/data_catalogue/records/item_cat_data.py
  tests/resources/lib/data_catalogue/records/item_cat_formatting.py
  tests/resources/lib/data_catalogue/records/item_cat_licence.py
  tests/resources/lib/data_catalogue/records/item_cat_product_all.py
  tests/resources/lib/data_catalogue/records/item_cat_product_min.py
  tests/resources/lib/data_catalogue/records/item_cat_product_restricted.py
  tests/resources/lib/data_catalogue/records/item_cat_pub_map.py
  tests/resources/lib/data_catalogue/records/utils.py
  tests/resources/lib/data_catalogue/stores/__init__.py
  tests/resources/lib/data_catalogue/stores/fake_records_store.py
Due: pytest, ruff, build

Fixing linting
  tests/assets_tracking_service_tests/models/test_model_asset.py
  tests/assets_tracking_service_tests/models/test_model_label.py
  tests/assets_tracking_service_tests/models/test_model_layer.py
  tests/assets_tracking_service_tests/models/test_model_position.py
  tests/assets_tracking_service_tests/providers/test_aircraft_tracking.py
  tests/assets_tracking_service_tests/providers/test_geotab.py
  tests/assets_tracking_service_tests/providers/test_rvdas.py
Due: pytest, ruff, build

Path conditions:
  pytest: any of: src/assets_tracking_service/*.py, src/assets_tracking_service/resources/db_migrations/**/*.sql, tests/**/*.py, pyproject.toml, uv.lock
  ruff: any of: **/*.py
  sqlfluff: any of: src/assets_tracking_service/resources/db_migrations/**/*.sql
  safety: any of: .safety-policy.yml, uv.lock
  build: any of: **/*.py, pyproject.toml, uv.lock
